@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  background: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  position: relative;
  max-width: 100%;
}
header {
  padding: 15px 20px;
  background: #fff;
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
header nav {
  display: flex;
  gap: 1.3em;
}
header nav a {
  text-decoration: none;
  color: #333;
}
header button {
  padding: 10px 10px;
  border-radius: 18px;
}
header button:first-child {
  border: 1px solid #dcdcdc;
}
header button:last-child {
  background: #00d47e;
  color: #fff;
  border: #dcdcdc;
}

div.big-image {
  background-image: url(./images/pexels-caglar-carkaci-2151246867-31730655-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: -25px auto 0;
  width: 100%;
  border-radius: 30px;
  grid-column: span 12;
  height: 850px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

div.big-image div:first-child {
  grid-column: 2 / span 6;
  align-self: center;
}
div.big-image h1 {
  font-size: 5rem;
  max-width: 550px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 30px;
}
div.big-image > div > p:last-of-type {
  margin-top: 40px;
}
div.big-image a {
  text-decoration: underline;
  text-underline-offset: 12px;
  color: #fff;
  margin-right: 25px;
}
div.intrude {
  grid-column: 7 / span 6;
  display: flex;
  gap: 40px;
  position: absolute;
  top: 750px;
  background: #fff;
  width: 100%;
  padding: 30px 0 20px 50px;
  border-top-left-radius: 30px;
}
div.intrude > div {
  max-width: 33.33%;
}
div.intrude h2 {
  font-size: 3rem;
  font-weight: 600;
}
.span {
  grid-column: 1 / span 12;
}
.first {
  display: flex;
  gap: 80px;
  margin: 80px auto 0;
  align-items: center;
}
.first p {
  max-width: 530px;
}
.first p:first-of-type {
  font-size: 2.4rem;
}
.first p:first-of-type span {
  color: #8d959d;
}
.first p:last-of-type {
  color: #616161;
  font-size: 1.1rem;
}
.first + div {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 0;
  padding-bottom: 100px;
}
.first + div div {
  width: 20%;
  /* height: min(200px, 25vw); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f2f4f4;
  font-weight: 600;
  font-size: 1.1rem;
  aspect-ratio: 1;
}
.first + div div:hover {
  background: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  color: #00d47e;
}
.first + div div:first-of-type p {
  max-width: 100px;
  text-align: center;
  line-height: 0.8;
}
.first + div div span {
  font-weight: 400;
}
.offers {
  width: 100%;
  grid-column: span 12;
  background: #f2f4f4;
  padding-bottom: 100px;
}
.offers h2 {
  max-width: 550px;
  margin: 100px auto 70px;
  font-size: 2.4rem;
  font-weight: 400;
}
.offers h2 span {
  color: #8d959d;
}
.offers > div {
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 4px;
}
.offers > div > div {
  height: 250px;
  background: #fff;
  padding: 30px;
  color: #616161;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.offers > div > div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
}
.offers > div > div:nth-of-type(1) {
  border-top-left-radius: 10px;
}
.offers > div > div:nth-of-type(3) {
  border-top-right-radius: 10px;
}
.offers > div > div:nth-of-type(4) {
  border-bottom-left-radius: 10px;
}
.offers > div > div:nth-of-type(6) {
  border-bottom-right-radius: 10px;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 12;
  padding: 40px 0;
  margin-bottom: 100px;
  gap: 7%;
}
.products img {
  width: 100%;
  aspect-ratio: 1 / 1.15;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.products > div {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.word p {
  font-size: 2.4rem;
  line-height: 1.2;
}
.word p span {
  color: #8d959d;
}
.word button {
  padding: 15px 25px;
  border-radius: 25px;
  background: #00d47e;
  color: #fff;
  border: none;
  margin-top: 20px;
}
.products > div > div:last-of-type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.products > div > div:last-of-type > div {
  padding: 20px;
  border: 1px solid #dcdcdc;
  height: 175px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 15px;
}
.products > div > div:last-of-type > div a {
  color: #111;
  text-underline-offset: 3px;
}
.products > div > div:last-of-type > div p:first-of-type {
  color: #8d959d;
}
.products > div > div:last-of-type > div p {
  font-size: 1.2rem;
}
.solution {
  grid-column: 2 / 12;
}
.solution h2 {
  font-size: 2.4rem;
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 70px;
  color: #111;
}
.solution h2 span {
  color: #8d959d;
}
.solution > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #f2f4f4;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 100px;
}
.solution > div > div {
  padding: 30px;
}
.solution > div > div h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.solution > div > div p {
  color: #333;
  max-width: 450px;
}
.solution > div > div button {
  padding: 15px 20px;
  border-radius: 25px;
  background: #00d47e;
  color: #fff;
  border: none;
  margin-top: 20px;
}
.solution > div > div p:last-of-type {
  color: #000;
  margin-top: 100px;
}
.solution > div > div p:last-of-type span {
  color: #616161;
}
.solution > div > img {
  width: 100%;
  border-radius: 15px;
}
.footer-container {
  width: 100%;
  background: #000;
  color: #fff;
  grid-column: span 12;
  padding: 100px 100px 30px;
}
.footer-container .first-footer {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  margin: 0;
}
.footer-container .first-footer .first-item h3 {
  font-size: 2.4rem;
  font-weight: 400;
  max-width: 631px;
  line-height: 1.4;
}
.footer-container .first-footer .first-item h3 span {
  color: #8d959d;
}
.footer-container .first-footer .first-item div {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.footer-container .first-footer .first-item div p {
  font-size: 1rem;
  color: #fff;
}
.footer-container .first-footer > .second-item p {
  color: #fff;
  font-size: 0.95rem;
}
.footer-container .first-footer > .second-item button {
  padding: 15px 25px;
  border-radius: 25px;
  background: #fff;
  color: #000;
  font-weight: bolder;
  border: none;
  margin-top: 20px;
}
.footer-container .second-footer {
  grid-column: span 12;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #777;
}
.x {
  width: 30px;
  height: 30px;
  background: #999999;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}
.footer-container .second-footer div:nth-of-type(2) {
  display: flex;
  gap: 10px;
}
.footer-container .second-footer nav {
  display: flex;
  gap: 35px;
}
.footer-container .second-footer nav a {
  text-decoration: none;
  color: #fff;
}
footer {
  grid-column: span 12;
  display: flex;
  margin-top: 50px;
}
footer p:nth-of-type(2) {
  margin-left: auto;
}
footer p:nth-of-type(3) {
  margin-left: 20px;
}

/* responsive */

/* @media screen and (max-width: 1180px) {
} */
